body {
  color: #333536;
}

#avatar {
  width: 332px;
  height: 332px;
  background-color: #cbc5c5;
  border-radius: 50%;
  text-align: center;
}

#avatar {
  width: 296px;
  height: auto;
}

header {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2  {
  font-size: 48px;
  text-transform: uppercase;
}

h3 {
  font-size: 26px;
  color: #47a0d9
}

ul {
  font-size: 26px;
  font-weight: 400;
  list-style: none;
}

section {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.12px;
}

b {
  color: #47a0d9;
}
